/**
 * All of the CSS for your public-facing functionality should be included in this file.
 *
 * The file is enqueued from inc/frontend/recipepress-frontend.php.
 */

ul.rpr-alphabet-navigation {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul.rpr-alphabet-navigation li {
    flex: 0 1 1.5em;
}

.rpr-tax-container {
    margin: 0 0 4em 0;
    text-align: center;
}

.rpr-taxlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}

.rpr-taxlist-item {

}

.rpr-taxlist.thumbnail {
    flex-direction: row;
}

.rpr-taxlist.thumbnail > .rpr-taxlist-item {
    margin: 0 1em 1em 0;
    flex: 0 1 200px;
}

.rpr-taxlist-image {
    overflow: hidden;
    height: 200px;
    background-color: #f3ffe4;
}

.rpr-taxlist.thumbnail > .rpr-taxlist-item .rpr-taxlist-title {
    line-height: 1.2;
    text-align: center;
    margin: 5px 0 0 0;
    font-size: 14px;
}

.rpr-tax-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 3fr));
    grid-template-rows: auto;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin: 0 0 2em 0;
}

.rpr-tax-grid-item {

}

.rpr-tax-grid-image {
    height: 185px;
    overflow: hidden;
    background: #fcfdee;
}

.rpr-tax-grid-title {
    text-align: center;
    line-height: 1.2;
    font-size: .8em;
    margin: 5px;
}

.rpr-tax-container a.rpr-tax-link {
    border: none;
    box-shadow: none;
    color: #fff;
    background-color: #333;
    padding: 5px 10px;
}

.rpr-filter-section {
    margin: 0 0 2em 0;
}
.rpr-filter-section h2 {
    margin: 0 0 1em 0;
}
.rpr-filter-section label {
    font-weight: normal;
}
.rpr-filter-search {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1em 0 0 0;
    align-items: center;
}
.rpr-filter-submit, .rpr-filter-reset {
    flex: 0 1 45%;
}
.rpr-filter-submit {
    border: 1px solid;
    background-color: #4caf50;
    color: #fff;
    padding: 6px;
}
.rpr-filter-reset {
    text-align: center;
    background-color: transparent;
    border: 1px solid;
    padding: 5px;
}

.profile-image {
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin: 0 auto 1em;
    border-radius: 50%;
}
.rpr-author-profile-widget p {
    margin: 0;
    padding: 0;
}
.profile-image img {
    width: 100%;
    display: block;
}

.profile-description {
    margin: 0 0 1em 0;
    text-align: center;
}

.social-media-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.social-media-links .icon {
    position: relative;
    margin: 0 5px 4px 5px;
    border-radius: 50%;
}

.social-media-links .icon a {
    color: #fff;
    font-size: 20px;
}

.social-media-links .rpr-icon {
    position: absolute;
    top: -1px;
    right: 0;
}

ul.rpr-ingredients-list {
    list-style: none;
    margin: 0 0 3em 0;
    columns: 4;
}

li.rpr-ingredients-list-item span {
    opacity: .5;
    font-size: .8em;
}

@keyframes heart-beat {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    14% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }

    28% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    42% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }

    70% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.heart-beat:hover {
    -webkit-animation-duration: 1.2s;
    -webkit-animation-name: heart-beat;
    -webkit-animation-timing-function: ease-in-out;
    animation-duration: 1.2s;
    animation-name: heart-beat;
    animation-timing-function: ease-in-out;
    opacity: 1;
}

#rpr-favorites-button {
    position: relative;
}

.rpr-favorites-add {
    position: fixed;
    bottom: 2em;
    right: 2em;
    line-height: 1;
    width: 35px;
    height: 35px;
    background-color: #F44336;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 3px 3px 4px 1px #6a080136;
    opacity: 0.7;
}

span.rpr-favorites-message {
    position: absolute;
    right: 12px;
    bottom: 80px;
    font-size: 14px;
    background-color: #F44336;
    color: #fff;
    padding: 1px 6px;
    border-radius: 4px;
    box-shadow: 3px 3px 4px 1px #6a080136;
}

.rpr-favorites-add i {
    top: 7px;
    font-size: 24px;
    position: absolute;
    left: 1px;
}

.rpr-favorites-add.heart-beat span {
    color: #F44336;
    position: absolute;
    right: -5px;
    top: -5px;
    font-size: .8em;
    font-weight: 600;
    text-shadow: 0px 1px 2px #47000000;
}

.rpr.recent-rating-container {

}

.rpr.recent-rating-container .review {
    display: grid;
    grid-template-columns: 50px auto;
    grid-column-gap: 10px;
    margin: 0 0 15px 0;
}

.rpr.recent-rating-container .review .avatar {

}

.rpr.recent-rating-container .review .avatar img {
    border-radius: 50%;
}

.rpr.recent-rating-container .review .content h3 {
    margin: 0 0 5px 0;
}

.rpr.recent-rating-container .review .content p {
    margin: 0;
}
