.rpr_nutrition_metabox .recipe_details_row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 1em 0;
}

.rpr_nutrition_metabox .recipe_details_row .rpr_nutrition_row {
    flex: 0 1 32%;
    margin: 0 5px 0 0;
}

.rpr_nutrition_metabox .recipe_details_row .rpr_nutrition_row:last-child {
    margin: 0;
}

.rpr_nutrition_metabox .recipe_details_row .recipe-general-form-notes {
    display: block;
    font-size: 12px;
    font-style: italic;
    color: #757575;
}

.rpr_nutrition_metabox .recipe_details_row input,
.rpr_nutrition_metabox .recipe_details_row select {
    width: 100%;
}

.rpr_nutrition_metabox .recipe_details_row label {
    display: block;
    font-weight: 600;
}

#rpr_nutrition_metabox ::placeholder,
#rpr_general_information_metabox ::placeholder,
#rpr_ingredients_metabox ::placeholder {
    color: #bdbdbd;
}
